.flex-containers{
    display: flex;
    justify-content: right;
flex-direction: column;

}

.flex-container {
    display: flex;
    justify-content: right;
    align-items: center;

}

body {
    background-image: url("../img/bw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.text-size{
    font-size: 100px;
    color: white;
}